.container
  .col-md-6.col-md-offset-3.mt50
    .panel.panel-success
      .panel-heading
        .panel-title
          %h2.text-center Thanks for Registering
      .panel-body
        %h3.text-center Thanks for Registering. Here are some resources you can start with right away.

= link_to "should be a button", "#", class: "btn btn-success"
