#page
  %header#header.site-header
    = render "registration_header"

  %main#main.site-main
    .container
      .col-md-6.col-md-offset-3.mt50
        .panel.panel-success
          .panel-heading
            .panel-title
              %h2.text-center Thanks for Registering
          .panel-body
            %h3.text-center An email is on it's way
